
@{
    ViewBag.Title = "Index";
}



<h2>Profile</h2>

<p>This will be the profile page for the term project.</p>

<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-10"><h1>Username</h1></div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-muted">My Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span>Date Joined</li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Last seen</strong></span>
                    <script>
                        var now = new Date();
                        var months = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
                        var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();
                        function fourdigits(number) {
                              return (number < 1000) ? number + 1900 : number;
                                    }
                         today =  months[now.getMonth()] + " " +
                            date + ", " +
                             (fourdigits(now.getYear())) ;
                         document.write(today);
                    </script>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span> User's Real Name</li>

            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Songs Uploaded</strong></span> 7</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Songs Liked</strong></span>12</li>

            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                   <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
                 <!--   <a class="btn btn-social-icon btn-facebook"></a>   -->
                    <p><a href="https://www.facebook.com/" class="btn btn-primary btn-sm">Facebook Login</a></p>

                </div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">

         <h3><strong>Music</strong></h3>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Songs</th>
                            <th>Artist</th>

                        </tr>
                    </thead>
                    <tbody id="items">
                        <tr>
                            <td>1</td>
                            <td>Table cell</td>
                            <td>Table cell</td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Table cell</td>
                            <td>Table cell</td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Table cell</td>
                            <td>Table cell</td>

                        </tr>

                    </tbody>
                </table>
                <hr>

            </div><!--/table-resp-->

            <hr>

            <h3><strong>Updates</strong></h3>
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><i class="pull-right"></i>Upcoming or new information about profile or website goes here.</td>
                        </tr>
                        <tr>
                            <td><i class="pull-right"></i>Upcoming or new information about profile or website goes here.</td>
                        </tr>
                        <tr>
                            <td><i class="pull-right"></i>Upcoming or new information about profile or website goes here.</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- Table responsive ends here-->

        </div><!--end of col-9-->
    </div><!--end of row-->
</div><!--end of the container-->

